#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
  chosen {
    zephyr,led-strip = &bass_leds;
  };

  bass_leds: ws2812 {
    compatible = "worldsemi,ws2812-gpio";
    chain-length = <10>;
    color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    gpios = <&xiao_d 0 GPIO_ACTIVE_HIGH>;
    reset-delay = <300>;
  };
};
